@page
@model Proiect5.Pages.Programari.CreateModel

@{
    ViewData["Title"] = "Create";
}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #d8bfd8;
        color: #fff;
    }

    h1 {
        color: #fff;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        padding: 20px;
    }

    tbody tr:last-child {
        background-color: #ffc0cb;
    }

    tbody tr:nth-child(even) {
        background-color: #f0e6f5;
    }

    th, td {
        color: #fff;
    }

    .button.create,
    .button.back {
        background-color: #d8bf;
        color: #fff;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 4px;
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
    }

        .button.create:hover,
        .button.back:hover {
            background-color: #d8bf;
        }
</style>
<h1>Adaugă programare</h1>

<h4>Programare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <<label asp-for="Programare.data" class="control-label"></label>
                <input asp-for="Programare.data" class="form-control" />
                <span asp-validation-for="Programare.data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programare.elevmaterieid" class="control-label"></label>
                <select asp-for="Programare.elevmaterieid" class="form-control" asp-items="@(ViewData["elevmaterieid"] as SelectList)"></select>
                <span asp-validation-for="Programare.elevmaterieid" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Programare.materieprofesorid" class="control-label"></label>
                <select asp-for="Programare.materieprofesorid" class="form-control" asp-items="@(ViewData["materieprofesorid"] as SelectList)"></select>
                <span asp-validation-for="Programare.materieprofesorid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary button create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="button back">Înapoi</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
